/*--------------------------*/
/* GENERAL */
/*--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

li {
    list-style: none;
}

.titles {
    color: #2F281E;
    font-weight: 700;
}

.sub-title {
    line-height: 1.5;
    font-size: 36px;
}

.button {
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.paragraph {
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    line-height: 1.6;
    max-width: 486px;
}


/*--------------------------*/
/* HEADER */
/*--------------------------*/

.header {
    height: 78px;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 20px;
    padding: 0 9vw 0 9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 32px;
    width: 187px;
}

/*------- NAV -------*/

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-list {
    width: 350px;
    max-width: 350px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-link {
    text-decoration: none;
    color: #2F281E;
    font-size: 14px;
}

/*------- NAV BUTTONS -------*/

.nav-bar-buttons {
    margin-left: 40px;
}

.nav-bar-button {
    width: 102px;
    height: 46px;
    font-weight: 600;
}

.nav-bar-button1 {
    color: #173A56;
    border: 1px solid #BCD0E5;
    margin-right: 8px;
}

.nav-bar-button2 {
    border: none;
    background-color: #FF9900;
    color: #ffffff;
}


/*--------------------------*/
/* FIRST SECTION */
/*--------------------------*/

.first-section {
    width: 1126px;
    height: 90vh;
    margin-left: 9vw;
    display: flex;
}

.left-side-container {
    width: 41%;
}

.main-title {
    font-size: 44px;
    line-height: 1.2;
    margin-top: 15vh;
    margin-bottom: 30px;
    max-width: 458px;
}

.header-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #544837;
    width: 450px;
    max-width: 458px;
    margin-bottom: 45px;
}

.left-side-buttons {
    display: flex;
}

.big-button {
    background-color: #FF9900;
    color: #FFFFFF;
    width: 175px;
    height: 53px;
    font-weight: 700;
    margin-right: 30px;
}

.video-button {
    /* display: flex;
    align-items: center; */
    background-color: #FFFFFF;
    color: #FF9900;
    font-weight: 600;
    text-decoration: underline;
}

.material-icons-round.md-36 {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 30px;
    text-decoration: none;
}

.first-section-img {
    margin-top: 3vh;
    margin-left: 10px;
}


/*--------------------------*/
/* SECOND SECTION */
/*--------------------------*/

.second-section {
    width: 100vw;
    height: 543px;
    padding-left: 9vw;
    padding-right: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.centered-title {
    width: 539px;
    text-align: center;
    margin: 0 auto;
}

/*------- FEATURES -------*/

.features {
    width: 100%;
    height: 204px;
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.features-title {
    font-weight: 600;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 13px;
}

.features-paragraph {
    max-width: 240px;
}

.features-button {
    text-align: center;
    margin-top: 34px;
}

.gradient {
    position: absolute;
    bottom: -87vh;
    z-index: -1;
    max-width: 100vw;
}

/*--------------------------*/
/* THIRD SECTION */
/*--------------------------*/

.third-section {
    height: 100vh;
    padding-left: 9vw;
    padding-right: 9vw;
    display: flex;
    align-items: center;
}

.info-container {
    max-height: 531px;
}

.info-title {
    margin-bottom: 22px;
    margin-top: 3px;
}

.smaller-title {
    font-size: 16px;
    margin-bottom: 12px;
}

.info-container .paragraph:not(:first-child) {
    margin-bottom: 25px;
}

.info-container .paragraph:nth-of-type(2) {
    margin-bottom: 30px;
}

.third-section-img {
    max-height: 574px;
    margin-left: 104px;
}


/*--------------------------*/
/* FOURTH SECTION */
/*--------------------------*/